  /*------ Primary Colors ------*/
  
  $primary-blue: #004da1;
  $primary-green: #6bdb30;
  $primary-orange: #f47200;
  $primary-borwn: #c65e02;
  $primary-red: #e12e08;
  $white: #fff;
  $black: #000;
  $red: #cc0000;
  $grey:#ddd;
  $yellow: #f0ad4e;
  $lite-blue: #00aeef;
  $pink: #e51890;
  $dark-red: #d61e3e;
  $primary-dark-blue: #002F87;
  $codeeditor-bg:#333;